deb/safe-eject/debian/safe-eject/
deb/safe-eject/debian/.debhelper/
logs/
tmp/
.vscode/

deb/safe-eject/debian/debhelper-build-stamp
deb/safe-eject/debian/safe-eject.substvars
deb/safe-eject/debian/files
deb/safe-eject/debian/safe-eject_*_all.deb

deb/safe-eject-*
deb/safe-eject_*_amd64.buildinfo
deb/safe-eject_*_amd64.changes
deb/safe-eject_*.debian.tar.xz
deb/safe-eject_*.dsc
deb/safe-eject_*.tar.gz
deb/safe-eject_*.orig.tar.gz
